<a href="https://colab.research.google.com/github/pragya-t304/DA-Flies-/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name="pragya"
print(name)
type(name)

pragya

str

In [3]:
str1="welcome To Data SciEnce"
str1.capitalize()                 #first letter changes from uppercase to lowercase and vise varsa.

'Welcome to data science'

In [4]:
str1

'welcome To Data SciEnce'

In [5]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [6]:
food="BBB"
name="sNHEHAL"
print(food.swapcase())
print(name.swapcase())        #swapcase done changes in letters.

bbb
Snhehal

In [7]:
s1="My name is  sneha."
s1.split()

['My', 'name', 'is', 'sneha.']

In [8]:
s2="My-Name-is-Pune"
s2.split()

['My-Name-is-Pune']

In [9]:
s2.split("-")      #It passed as an argument.

['My', 'Name', 'is', 'Pune']

In [10]:
s1.replace("sneha","Pragya")      # replace value from old to new

'My name is  Pragya.'

In [11]:
city="solhapur"
city.count("o")

1

In [12]:
"Pragya".count("a")

2

In [13]:
n1=5
n1*6

30

In [15]:
n1="sun-"
n1*4

'sun-sun-sun-sun-'

Multipication with a string is Repetation.
Additon with a string is Concatination.

In [16]:
n1+"kulkarni"

'sun-kulkarni'

In [17]:
n1 + " " "kulkarni"

'sun- kulkarni'

**Conditional Statement **

In [18]:
a=10
b=40
if a>b:
  print("a is greater")
  print("in a true block")
  c=a+b
  print(c)
else:
  print("b is greater")
  print("In False block")
  c=a*b
  print(c)

b is greater
In False block
400

In [20]:
a=5000
b=3000
if a>b:

  print(a,"is greater")
else:
  print("Greatest number is:",a)

5000 is greater

In [21]:
for i in range(2,8):
  print(i)

2
3
4
5
6
7

In [22]:
for i in range(2,8):
  print(i+i)

4
6
8
10
12
14

In [23]:
for i in range(2,5):
  print("Hii")
print("bye")

Hii
Hii
Hii
bye

In [24]:
for i in range(2,8):
  print(i)
  print("bye")

2
bye
3
bye
4
bye
5
bye
6
bye
7
bye

In [25]:
for i in range(1,21,2):        #for range 3 values first is start values, 2nd is ending,3rd is placement value by which u increment.
  print(i)

1
3
5
7
9
11
13
15
17
19

In [26]:
for i in range(1,11):
  if i==5:
    print("same")
    break
  else:
    print(i)

1
2
3
4
same